- content_for(:head) do
  %script{src: asset_path('js/blockly.js')}
  %script{src: asset_path("js/#{js_locale}/blockly_locale.js")}
  %script{src: minifiable_asset_path('js/blocks/embed.js'), data: {xml: xml}}

%div#blockly-container
